<html>
  <head>
    <title></title>
    <script src="//fb.me/react-0.13.2.js"></script>
    <script src="//fb.me/JSXTransformer-0.13.2.js"></script>
    <script src="/js/app.js"></script>
  </head>
  <body>

    <%= yield %>

  </body>
</html>
