<html>
  <head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="<%= uri('/bower_components/normalize.css/normalize.css') %>" />
    <link rel="stylesheet" type="text/css" href="<%= uri('/dist/css/app.css') %>" />
    <script src="<%= uri('/dist/js/app.js') %>"></script>
  </head>
  <body>

    <%= yield %>

  </body>
</html>
