<html>
  <head>
    <title></title>
    <script src="/bower_components/react/react.min.js"></script>
    <script src="/bower_components/react/JSXTransformer.js"></script>
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/lodash/lodash.min.js"></script>
    <script src="/bower_components/less/dist/less.min.js"></script>
    <script type="text/jsx" src="/js/app.js"></script>
    <link rel="stylesheet/less" type="text/css" href="/css/app.less" />
  </head>
  <body>

    <%= yield %>

  </body>
</html>
