<html>
  <head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="/bower_components/normalize.css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="/dist/css/app.css" />
    <script src="/dist/js/app.js"></script>
  </head>
  <body>

    <%= yield %>

  </body>
</html>
