<!DOCTYPE html>
<html>
  <head>
    <meta name="referrer" content="never" />
    <meta name="robots" content="noindex,nofollow,noarchive" />
    <title></title>
    <link rel="stylesheet" type="text/css" href="<%= uri('/dist/css/app.css', false) %>" />
    <script src="<%= uri('/dist/js/app.js', false) %>"></script>
  </head>
  <body>

    <%= yield %>

  </body>
</html>
