<!DOCTYPE html>
<html>
  <head>
    <base href="<%= uri('/', false) %>" id="basename" />
    <meta name="referrer" content="never" />
    <meta name="robots" content="noindex,nofollow,noarchive" />
    <title>Slack Patron</title>
    <link rel="stylesheet" type="text/css" href="build/app.css" />
    <script defer src="build/app.js"></script>
  </head>
  <body>

    <%= yield %>

  </body>
</html>
