@import "./lib/clearfix";

.configure-window {
  width: 600px;
  margin: 0 0 0 -300px;
  position: absolute;
  top: 5%;
  left: 50%;
  z-index: 1000;
  box-shadow: 0 1px 10px rgba(0,0,0,.6);
  background: #fff;
  border-radius: .25rem;
  padding: 1rem;
  color: #555459;
  .configure-section {
    margin: 0 0 20px 0;
    &:last-child {
      margin: 0;
    }
    .section-title {
      font-weight: bold;
      margin: 0 0 5px 0;
    }
  }
}
.configure-background {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000;
  z-index: 900;
  opacity: .4;
}

#import-slack-data-form {
  .form-section {
    margin: 10px 0;
    .submit-button {
      background: #2ab27b;
      border-radius: 5px;
      border: 0;
      color: #fff;
      line-height: 1.2rem;
      font-size: 14px;
      padding: 5px 10px;
      text-shadow: 0 1px 1px rgba(0,0,0,.1);
    }
  }
}

#logger-configure-form {
  .clearfix;
  margin: 5px 0 0 0;
  label {
    line-height: 1rem;
    input {
      margin: 0px 10px 0 0;
      float: left;
    }
    span {
      margin: 0 20px 0 0;
      float: left;
    }
  }
}
#logger-status {
  color: red;
  padding: 0 0 0 5px;
}
