@import "variable";

.slack-menu {
  @menu-header-height: 60px;
  width: @slack-menu-width;
  height: calc(~'100% - 20px');
  float: left;
  background: #4d394b;
  padding: 0 0 20px 0;
  .slack-menu-header {
    height: @menu-header-height;
    cursor: pointer;
    position: relative;
    &:hover {
      background: #3e313c;
    }
    .team-info {
      position: relative;
      color: #fff;
      font-size: 1.125rem;
      padding: 0 1rem;
      line-height: @menu-header-height;
      .menu-toggler {
        position: absolute;
        right: 1.25rem;
        top: 0;
        &:before {
          content: '>';
        }
      }
    }
    .menu-items {
      position: absolute;
      background: #fff;
      border-radius: 8px;
      top: 49px;
      left: 150px;
      padding: 1.125rem 1rem;
      width: 250px;
      list-style-type: none;
      box-shadow: 0 3px 8px rgba(0,0,0,.25);
      z-index: 100;
      .menu-item {
        color: #555459;
        padding: 0 .75rem;
        line-height: 1.5625rem;
        border-radius: .25rem;
        &:hover {
          background: #439fe0;
          color: #fff;
        }
      }
    }
  }
  .slack-channels {
    color: #ab9ba9;
    overflow: auto;
    height: calc(~'100% - @{menu-header-height}');
    li {
      text-shadow: 0 1px 1px rgba(0,0,0,0.25);
      cursor: pointer;
      &:hover {
        background: #3e313c;
      }
      &.selected {
        background: rgb(76, 150, 137);
        color: white;
      }
      p {
        line-height: 1.5rem;
        padding: 0 .5rem 0 1rem;
        font-size: 1rem;
      }
    }
  }
}
